#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
    background-color: #252934;
    color: white;
}

#contact .section__header {
    border-bottom: 2.5px solid white;
}

.envelope-shape {
    width: 100%;
    height: 15vh;
    border-top: 15vh solid #dde1d4;
    border-left: 49vw solid #252934;
    border-right: 49vw solid #252934;
    background-color: #dde1d4;
}

.contact-form {
    width: 40vw;
    height: 60vh;
    display: grid;
    gap: 5px;
    grid-template-rows: 1fr 1fr 4fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
}

.contact-form input,
.contact-form textarea {
    border-radius: 5px;
    background-color: #1e242c;
    color: white;
    font-family: "Raleway";
}

.contact-form input {
    padding: 12px;
}

.contact-form .form__name {
    grid-area: 1 / 1 / 2 / 4;
}

.contact-form .form__email {
    grid-area: 2 / 1 / 3 / 4;
}

.contact-form .form__message {
    grid-area: 3 / 1 / 4 / 4;
    padding: 12px;
}

.contact-form .form__submit-btn {
    grid-area: 4 / 3 / 5 / 4;
    border: 1px solid white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.contact-form .form__submit-btn:hover {
    background-color: white;
    color: #e74c3c;
}

.success {
    opacity: 0;
    transform: scale(0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

@keyframes showSuccess {
    0% {
        transform: none;
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes hideSuccess {
    0% {
        transform: none;
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 0;
    }
}

.success.show {
    animation-name: showSuccess;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.success.hide {
    animation-name: hideSuccess;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.success .success__mask {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.success .success__message {
    width: 0;
    height: 0;
    opacity: 0;
    background-color: white;
    color: black;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

@keyframes showMessage {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    100% {
        width: 30vw;
        height: 25vh;
        opacity: 1;
    }
}

@keyframes hideMessage {
    0% {
        width: 30vw;
        height: 25vh;
        opacity: 1;
    }
    100% {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

.success__message.show {
    animation-name: showMessage;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.success__message.hide {
    animation-name: hideMessage;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.success__message .message__text {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 1.5em;
}

.success__message .message__exit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
