.portfolio__modal-container {
    display: none;
    opacity: 0;
    transform: scale(0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

@keyframes showModalContainer {
    0% {
        transform: none;
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes hideModalContainer {
    0% {
        transform: none;
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 0;
    }
}

.portfolio__modal-container.show {
    animation-name: showModalContainer;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.portfolio__modal-container.hide {
    animation-name: hideModalContainer;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.modal {
    width: 0;
    height: 0;
    opacity: 0;
    background-color: white;
    z-index: 101;
}

@keyframes showModal {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    100% {
        width: 70vw;
        height: 85vh;
        opacity: 1;
    }
}

@keyframes hideModal {
    0% {
        width: 70vw;
        height: 85vh;
        opacity: 1;
    }
    100% {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

.modal.show {
    animation-name: showModal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.modal.hide {
    animation-name: hideModal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.modal .modal__carousel {
    width: 100%;
    height: 65%;
    border-bottom: 1px solid black;
}

.modal .modal__info {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal__info .info__title {
    font-size: 32px;
    font-weight: 600;
    padding: 20px 20px 10px 20px;
    margin-bottom: 10px;
}

.modal__info .info__tag {
    font-size: 18px;
    font-weight: 600;
    color: gray;
    padding-bottom: 10px;
    margin: 0 20px 10px 20px;
    border-bottom: 1px solid gray;
}

.modal__info .info__detail {
    padding: 0 20px;
}

.modal__info .info__more {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0 20px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.info__more .more__link a {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #e74c3c;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.info__more .more__link a:hover {
    background-color: #e74c3c;
    color: white;
}

.info__more .more__exit-btn i {
    font-size: 30px;
    margin-right: 5px;
}
