.highlight {
    font-weight: 600;
}

.button {
    cursor: pointer;
}

.section__header {
    font-size: 30px;
    padding-bottom: 5px;
    border-bottom: 2.5px solid black;
    margin-bottom: 50px;
}
